# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/classes/debug/
/app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/jars/
/app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/jars/